<header>
    <nav >
        <div>GameVault</div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/categories" class="">Categories</a>
            </li>
            <li>
                <a href="/games" class="">Games</a>
            </li>
        </ul>
    </nav>
</header>