<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameVault - Categories</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <% categories.map(category => { %>
            <p><%= category.name %></p>
            <form action="/categories/delete/<%= category.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% }) %>
        <a href="/categories/create">Create category</a>
    </div>
</body>
</html>